*.user
*~
**/build/*
**/lib/*
*.kdev4
**/KeyFrameTrajectory.txt
**/KeyFrameNavStateTrajectory.txt
*.autosave
**/tmp/*
**/debug.txt
**.tags
**.tags_sorted_by_file
**/build*/*
.tags
.tags_sorted_by_file



